.container {
    display: flex;
    justify-content: center;
    align-items: center; width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 8px 16px;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}
  
  