.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.back-button {
    cursor: pointer;
}

.error {
    color: #9d1010;
    text-align: left;
    margin-top: 0.25rem;
}