.auth-card-background {
    width: 100%;
    height: 100vh;
    background-color: #8ee4af;
    color: #edf5e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card-container {
    width: 50vw;
    padding: 20px;
    border-radius: 7px;
    background-color: #379683;
}

.auth-card-title {
    margin: 10px;
    font-weight: 200;
}
  